{# src/Busybee/PersonBundle/Resources/views/Person/careGiver.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeePersonBundle:Person:panelHeader.html.twig"  with {'header': 'person.caregiver.title'} %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					{{ form_widget(form.careGiver.person) }}
				</div>
			</div>
		</div>
	</div>
</div>

