{# src/Busybee/PersonBundle/Resources/views/Form/contact.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeePersonBundle:Form:phoneCollection.html.twig"
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeePersonBundle:Person:panelHeader.html.twig"  with {'header': 'person.contact.title'} %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
                    {% include 'BusybeePersonBundle:Person:phones.html.twig' %}
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.email) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.email2) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.website) }}
						</div>
					</div>
					{% include 'BusybeePersonBundle:Person:addresses.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>


