{% trans_default_domain "BusybeeInstituteBundle" %}

{% block departmentStaff_label %}{% endblock %}

{% block departmentStaff_widget %}

    {% set panelStyle = 'default' %}
    {% set transDomain = 'BusybeeInstituteBundle' %}
    {% set header = 'department.staff.member' %}

    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% set h3Content = h3Content ~ deleteButton({'title': 'department.staff.remove', 'transDomain': 'BusybeeInstituteBundle', 'class': 'collection-remove collection-action halflings halflings-erase btn btn-warning'})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ '</div>' %}

    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'name': displayStudentField(form.vars['value'], 'formatName'), 'panelStyle': 'default', 'name': 'Member'} %}
    <div class="container-fluid departmentStaff">
        <div class="row">
            <div class="col-sm-6 well">
                {{ form_row(form.staff) }}
            </div>
            <div class="col-sm-6 well">
                {{ form_row(form.staffType) }}
                {% set dept_id = '' %}
                {% if app.request.get('id') != 'Add' %}{% set dept_id = app.request.get('id') %}{% endif %}
                {{ form_row(form.department, {'id': dept_id}) }}
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock departmentStaff_widget %}