{% trans_default_domain "BusybeeInstituteBundle" %}

<script type="text/javascript">
    $(".staffList").collection({
        name_prefix: '{{ form.staff.vars.full_name }}',
        allow_up: false,
        allow_down: false,
        add: '<button title="{{ 'department.staff.add'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'department.staff.remove'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });
</script>