/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
!/vendor/composer/
/web/bundles/
/web/uploads/
!/web/uploads/database/
*.php~
/src/Busybee/Plugin/
*.tmp
Thumbs.db
.idea/