{# src/Busybee/HomeBundle/Resources/views/Error/index.html.twig #}
{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% trans_default_domain "BusybeeHomeBundle" %}
{% block headerTitle %}{{ 'error.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    <div class="alert alert-danger" role="alert">
        {{ exception.message }}
    </div>

{% endblock contentContainer %}
