{# src/General/SecurityBundle/Resources/views/Role/list.html.twig #}
{% extends "BusybeeSecurityBundle::layout.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}Busybee - {{ 'role.list.title'|trans }}{% endblock title %}
{% block titleBlock %}
	<div class="jumbotron">
		<h1>{{ 'role.list.title'|trans }}</h1>
	</div> 
{% endblock titleBlock %}
{% block SecurityBundleContent %}
{% include "BusybeeSecurityBundle:Role:list_content.html.twig" %}
{% endblock SecurityBundleContent %}
