{% trans_default_domain "BusybeeTimeTableBundle" %}

{% block tt_line__learninggroups_label %}{% endblock %}
{% block tt_line__learninggroups_errors %}{% endblock %}

{% block tt_line__learninggroups_widget %}
    {% set panelStyle = 'warning' %}
    {% set transDomain = 'BusybeeTimeTableBundle' %}
    {% set header = 'timetable.line.header' %}

    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% set h3Content = h3Content ~ deleteButton({'title': 'timetable.line.remove', 'transDomain': 'BusybeeTimeTableBundle', 'class': 'halflings halflings-erase btn btn-warning collection-remove collection-action', 'style': 'float: right;'})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ upDownButton()|raw %}
    {% set h3Content = h3Content ~ '</div>' %}
    {% set count = 'New' %}
    {% if name != '__name__' %}{% set count = intVal(name) + 1 %}{% endif %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'name': count} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 well">
                {{ form_row(form.sequence) }}
                {{ form_row(form.timetable, {'value': app.request.get('id')}) }}
                {{ form_row(form.learningGroups) }}
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock tt_line__learninggroups_widget %}