{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ manager.title|trans }}{% endblock title %}
{% block headerTitle %}{{ manager.title|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ manager.description|trans({'%type%': manager.type, '%identifier%': manager.idDesc}) }}{% endblock headerLead %}

{% block contentContainer %}
    <div id="displayTimeTable">
        <div id="timetableHeader">
        </div>
    </div>
{% endblock contentContainer %}

{% if script is not defined %}
    {% set script = [] %}
{% endif %}
{% set script = script|merge(['@BusybeeTimeTable/Display/selectDate.html.twig']) %}
