{% trans_default_domain "BusybeeTimeTableBundle" %}
{% spaceless %}
    <h3 class="text-center">{{ 'timetable.loading'|trans() }} <img height="25" src="{{ asset('img/ajax-loader.gif') }}"
                                                                   title="{{ 'timetable.loading'|trans() }}"></h3>
{% endspaceless %}