# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     symfony
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    database_prefix: ~

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_sender_name:  ~
    mailer_sender_address:  ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    locale: en_GB
    session_name: busybee_session
    session_remember_me_name: busybee_session_remember
    session_max_idle_time: 900
    country: ~
    signin_count_minimum: 3
    signin_ip_exceptions: ['127.0.0.1']
    password:
        minLength: 8
        numbers: 1
        mixedCase: 1
        specials: 0
    upload_path: '../web/uploads/%current_year%/%current_month%'
    timezone: UTC
    google:
        oauth: off
        client_id: ''
        client_secret: ''
    bundles:
        AVETMISS:
            active: false
            namespace: Busybee\AVETMISS\AVETMISSBundle\BusybeeAVETMISSBundle
            route:
                resource: "@BusybeeAVETMISSBundle/Resources/config/routing.yml"
                prefix:   /avetmiss/
        Home:
            active: true
            namespace: Busybee\Core\HomeBundle\BusybeeHomeBundle
            route:
                resource: "@BusybeeHomeBundle/Resources/config/routing.yml"
                prefix:   /
        Security:
            active: true
            namespace: Busybee\Core\SecurityBundle\BusybeeSecurityBundle
            route:
                resource: "@BusybeeSecurityBundle/Resources/config/routing.yml"
                prefix:   /security/
        System:
            active: true
            namespace: Busybee\Core\SystemBundle\SystemBundle
            route:
                resource: "@SystemBundle/Resources/config/routing.yml"
                prefix:   /system/
        Form:
            active: true
            namespace: Busybee\Core\FormBundle\BusybeeFormBundle
        Pagination:
            active: true
            namespace: Busybee\Core\PaginationBundle\PaginationBundle
        Calendar:
            active: true
            namespace: Busybee\Core\CalendarBundle\BusybeeCalendarBundle
            route:
                resource: "@BusybeeCalendarBundle/Resources/config/routing.yml"
                prefix:   /core/calendar/
        Family:
            active: true
            namespace: Busybee\People\FamilyBundle\BusybeeFamilyBundle
            route:
                resource: "@BusybeeFamilyBundle/Resources/config/routing.yml"
                prefix:   /family/
        Person:
            active: true
            namespace: Busybee\People\PersonBundle\BusybeePersonBundle
            route:
                resource: "@BusybeePersonBundle/Resources/config/routing.yml"
                prefix:   /person/
        Staff:
            active: true
            namespace: Busybee\People\StaffBundle\BusybeeStaffBundle
            route:
                resource: "@BusybeeStaffBundle/Resources/config/routing.yml"
                prefix:   /staff/
        Student:
            active: true
            namespace: Busybee\People\StudentBundle\BusybeeStudentBundle
            route:
                resource: "@BusybeeStudentBundle/Resources/config/routing.yml"
                prefix:   /student/

