# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     symfony
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    database_prefix: ~

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_sender_name:  ~
    mailer_sender_address:  ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    locale: en_GB
    hemisphere: South
    session_name: busybee_session
    session_remember_me_name: busybee_session_remember
    session_max_idle_time: 900
    country: ~
    signin_count_minimum: 3
    signin_ip_exceptions: ['127.0.0.1']
    password:
        minLength: 8
        numbers: 1
        mixedCase: 1
        specials: 0
    upload_path: '../web/uploads/%current_year%/%current_month%'
    timezone: UTC
    google:
        oauth: off
        client_id: ''
        client_secret: ''
    bundles:
        Home:
            type: core
            namespace: Busybee\Core\HomeBundle\BusybeeHomeBundle
            route:
                resource: BusybeeHomeBundle/Resources/config/routing.yml
                prefix: /
        Security:
            type: core
            namespace: Busybee\Core\SecurityBundle\BusybeeSecurityBundle
            route:
                resource: BusybeeSecurityBundle/Resources/config/routing.yml
                prefix: security
        System:
            type: core
            namespace: Busybee\Core\SystemBundle\SystemBundle
            route:
                resource: SystemBundle/Resources/config/routing.yml
                prefix: system
        Template:
            type: core
            namespace: Busybee\Core\TemplateBundle\BusybeeTemplateBundle
        Pagination:
            type: core
            namespace: Busybee\Core\PaginationBundle\PaginationBundle
        Calendar:
            type: core
            namespace: Busybee\Core\CalendarBundle\BusybeeCalendarBundle
            route:
                resource: BusybeeCalendarBundle/Resources/config/routing.yml
                prefix: calendar
        Family:
            type: plugin
            namespace: Busybee\People\FamilyBundle\BusybeeFamilyBundle
            route:
                resource: BusybeeFamilyBundle/Resources/config/routing.yml
                prefix: family
        Person:
            type: plugin
            namespace: Busybee\People\PersonBundle\BusybeePersonBundle
            route:
                resource: BusybeePersonBundle/Resources/config/routing.yml
                prefix: person
        Staff:
            type: plugin
            namespace: Busybee\People\StaffBundle\BusybeeStaffBundle
            route:
                resource: BusybeeStaffBundle/Resources/config/routing.yml
                prefix: staff
            requirements:
                - Person
            description: Used to manage staff details.
        Contact:
            name: Contact
            type: plugin
            namespace: Busybee\People\ContactBundle\BusybeeContactBundle
            route: { resource: BusybeeContactBundle/Resources/config/routing.yml, type: yaml, prefix: contact }
            description: bundle.description.missing
            exclusions: {  }
            requirements:
                - Person
        Student:
            type: plugin
            namespace: Busybee\People\StudentBundle\BusybeeStudentBundle
            route:
                resource: BusybeeStudentBundle/Resources/config/routing.yml
                prefix: student
            requirements:
                - Person
            description: Used to manage student details.
        Curriculum:
            type: plugin
            namespace: Busybee\Program\CurriculumBundle\BusybeeCurriculumBundle
            route:
                resource: "BusybeeCurriculumBundle/Resources/config/routing.yml"
                prefix:   curriculum
                type: yaml
        Institute:
            type: plugin
            namespace: Busybee\Facility\InstituteBundle\BusybeeInstituteBundle
            route:
                prefix:   institute
                resource: "BusybeeInstituteBundle/Resources/config/routing.yml"
            requirements: []
        TimeTable:
            type: plugin
            namespace: Busybee\TimeTableBundle\BusybeeTimeTableBundle
            route:
                resource: "BusybeeTimeTableBundle/Resources/config/routing.yml"
                prefix:   timetable
        Activity:
            type: plugin
            namespace: Busybee\ActivityBundle\BusybeeActivityBundle
            route:
                resource: "BusybeeActivityBundle/Resources/config/routing.yml"
                prefix:   activity
        Attendance:
            type: plugin
            namespace: Busybee\AttendanceBundle\BusybeeAttendanceBundle
            route:
                resource: "BusybeeAttendanceBundle/Resources/config/routing.yml"
                prefix:   attendance
        Period:
            type: plugin
            namespace: Busybee\PeriodBundle\BusybeePeriodBundle
            route:
                resource: "BusybeePeriodBundle/Resources/config/routing.yml"
                prefix:   period
        AVETMISS:
            type: plugin
            namespace: Busybee\AVETMISS\AVETMISSBundle\BusybeeAVETMISSBundle
            route:
                resource: BusybeeAVETMISSBundle/Resources/config/routing.yml
                prefix: avetmiss
            description: bundle.description.avetmiss
            requirements:
                - Student
        Grade:
            type: plugin
            namespace: Busybee\Program\GradeBundle\BusybeeGradeBundle
            route:
                resource: BusybeeGradeBundle/Resources/config/routing.yml
                prefix: grade
            requirements:
                - Student
            description: bundle.description.grade
