{% trans_default_domain "BusybeeTimeTableBundle" %}

<script type="text/javascript">
    $(".activityList").collection({
        allow_up: false,
        allow_down: false,
        add: '<button title="{{ 'activity.title.add'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'activity.title.remove'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true,
    });
</script>
