{% trans_default_domain "BusybeeTimeTableBundle" %}
<script type="text/javascript">
    $(".periodActivityList").collection({
        name_prefix: '{{ form.activities.vars.full_name }}',
        allow_up: true,
        allow_down: true,
        add: '<button title="{{ 'period.plan.title.add'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'period.plan.title.remove'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });
    {% if form.vars.manager.failedCount > 0 %}
    $(document).ready(function () {
        var data = '<div class="alert alert-warning">{{ 'period.activities.activity.failed.count'|trans({'%count%': form.vars.manager.failedCount}) }}</div>';
        $('.messageWindow').html(data);
    });
    {% endif %}
</script>
