{# src/Busybee/PersonBundle/Resources/views/People/optionDoB.html.twig #}
{% trans_default_domain "BusybeePersonBundle" %}
{% spaceless %}
    <div class="form-group">
        <select id="__id__" name="__name__" class="form-control">
            <option value="Ymd">YYYYmmdd</option>
            <option value="Y-m-d">YYYY-mm-dd</option>
            <option value="d/m/Y">dd/mm/YYYY</option>
            <option value="d-m-Y">dd-mm-YYYY</option>
            <option value="m-d-Y">mm-dd-YYYY</option>
            <option value="m/d/Y">mm/dd/YYYY</option>
            <option value="Y-n-j">YYYY-m-dd</option>
            <option value="j/n/Y">d/m/YYYY</option>
            <option value="j-n-Y">d-m-YYYY</option>
            <option value="n-j-Y">m-d-YYYY</option>
            <option value="n/j/Y">m/d/YYYY</option>
        </select>
        <label for="__id__">{{ 'person.label.dob.format'|trans }}</label>
    </div>
{% endspaceless %}