{# src/Busybee/PersonBundle/Resources/views/Form/person.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% set addressName = form.line1.parent.vars.name %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 well">
			{{ form_row(form.line1) }}
		</div>
		<div class="col-sm-6 well">
			{{ form_row(form.line2) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 well">
			{{ form_row(form.locality) }}
		</div>
	</div>
</div>
