{# src/Busybee/InstituteBundle/Resources/views/Calendar/specialDays.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'calendar.specialDay.title'|trans({'%year%': form.name.vars.value}) }}
		{% include 'BusybeeInstituteBundle:Calendar:calendarMenu.html.twig' %}
		</h3>
	</div>
	<div class="panel-body">
		{% for specialKey, specialDay in form.specialDays %}
			{% if specialDay.vars.name != '__name__' %}
				{% include 'BusybeeInstituteBundle:Calendar:specialDay.html.twig' with {'form': specialDay, 'key': specialKey} %}
			{% endif %}
		{% endfor %}
		<div id="specialDayProtoType"></div>
		{% if 'calendar.help.specialDays'|trans is not empty %}
			<p class="alert alert-info">{{ 'calendar.help.specialDays'|trans }}</p>
		{% endif %}
		{% include 'BusybeeInstituteBundle:Calendar:calendarMenu.html.twig' %}
	</div>
</div>

{% do form.specialDays.setRendered %}