<style>
.days>td {
	border: 1px solid #333;
}
.dayBold {
	font-weight: bold;
}
.termBreak {
	background-color: rgba(128,128,0,0.5);
}
.isClosed {
	background-color: lightsalmon ;
	background-image: url({{ asset('img/isClosed.png') }});
	background-repeat: repeat ;
	font-weight: bold;
}
.isSpecial {
	background-color: cyan ;
	background-image: url({{ asset('img/isSpecial.png') }});
	background-repeat: repeat ;
	font-weight: bold;
}
.monthView {
	border: 1px solid #333;
	border-radius: 12px;
	min-height: 180px;
}
.text-right {
	text-align: right;
}
.calendarBody {
	background-position: center  ;
	background-repeat: no-repeat;
	background-size: 100px 100px ;
	background-image: url({{ asset('img/bee.png') }});
	borber: none ;
}
.calendarWeek>td {
	border: 1px solid #333;
	width: 12.5%;
}
</style>