{# src/Busybee/InstituteBundle/Resources/views/Calendar/terms.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'calendar.term.title'|trans({'%year%': form.name.vars.value}) }}
		{% include 'BusybeeInstituteBundle:Calendar:calendarMenu.html.twig' %}
		</h3>
	</div>
	<div class="panel-body">
		{% for term in form.terms %}
			{% if term.vars.name != '__name__' %}
				{% include 'BusybeeInstituteBundle:Calendar:term.html.twig' with {'form': term} %}
			{% endif %}
		{% endfor %}
		{% include 'BusybeeInstituteBundle:Calendar:term.html.twig' with {'form': form.terms.vars.prototype} %}
		<p class="alert alert-info">{{ 'calendar.help.terms'|trans }}</p>
		{% include 'BusybeeInstituteBundle:Calendar:calendarMenu.html.twig' %}
	</div>
</div>

{% do form.terms.setRendered %}