{% trans_default_domain "BusybeeStudentBundle" %}

{% block grade_by_student_label %}{% endblock %}
{% block grade_by_student_errors %}{% endblock %}

{% block grade_by_student_widget %}
    {% set panelStyle = 'info' %}
    {% set transDomain = 'BusybeeStudentBundle' %}
    {% set header = 'student.grade.title' %}
    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% set h3Content = h3Content ~ deleteButton({'title': 'student.grade.remove', 'transDomain': 'BusybeeStudentBundle', 'class': 'halflings halflings-erase btn btn-warning collection-remove collection-action', 'style': 'float: right;'}) %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ '</div>' %}
    {% set yearName = '(New)' %}
    {% if data is not null %}{% set yearName = data.getGradeYear %}{% endif %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {name: yearName} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 well">
                {{ form_row(form.grade) }}
            </div>
            <div class="col-sm-6 well">
                {{ form_row(form.status) }}
                {{ form_row(form.student, {value: app.request.get('id')}) }}
            </div>
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
{% endblock grade_by_student_widget %}