{# src/Busybee/DisplayBundle/Resources/views/Bootstrap/flashmessage.html.twig #}
<!-- Flash Messages -->
{% if app.request.hasPreviousSession %}
	<div class="container">
	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="row">
				<div class="col-sm-12 alert alert-{{ type }}">
					{{ message|trans ({}, 'BusybeeDisplayBundle') }}
				</div>
			</div>
		{% endfor %}
	{% endfor %}
	</div>
{% endif %}

