/* CSS Document */
body {
	padding-top: 70px;
	padding-bottom: 30px;
	background-image: url(../img/backgroundPage.jpg) ;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.theme-showcase {
	background-color: rgba(250, 250, 250, 0.85);
	border-radius: 10px; 
	box-shadow: 2px 2px 15px rgba(0,0,0,0.75);
}
.field-help {
	font-style: italic;
	font-size: 85% ;
	color: #3DB3D7;
	text-align: justify ;
	display: block;
}
@media screen and (min-width: 768px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}
}
p {
	text-align: justify;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.form-group {
	margin-bottom: 0;
}
.yesno-right {
	float: right ;
	margin-left: 5px;
}
	
