/* CSS Document */
body {
	padding-top: 55px;
	padding-bottom: 30px;
	background-image: url(../img/backgroundPage.jpg) ;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.theme-showcase {
	background-color: rgba(250, 250, 250, 0.85);
	border-radius: 10px; 
	box-shadow: 2px 2px 15px rgba(0,0,0,0.75);
}
.field-help {
	font-style: italic;
	font-size: 85% ;
	color: #3DB3D7;
	text-align: justify ;
	display: block;
}
@media screen and (min-width: 768px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}
}
p {
	text-align: justify;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.form-group {
	margin-bottom: 0;
}
.yesno-right {
	float: right ;
	margin-left: 5px;
}
.row-striped {
	border: 1px solid rgba(204,204,204,1);
	border-radius: 8px;
	min-height: 25px;
}
.row-striped:nth-of-type(odd){
	background-color: rgba(204,204,204,0.5);
}

.row-striped:nth-of-type(even){
	background-color: transparent;
}
.row-header {
	font-size: 125%;
	font-weight: bold;
	background-color: rgba(204,204,204,1);
	border: 1px solid rgba(204,204,204,1);
	border-radius: 8px;
	min-height: 25px;
}
.row-striped > [class*='col-'] {
	display: block ;
}
.busybee-panel {
	background-color: transparent ;
}
.panel-title {
	font-weight: bold;
	font-size: 24px;
}
.withAdd {
	display: block!important;
}
img.headShot75 {
	float: right;
	margin-left: 6px;
	width: 75px;
}
.well {
	margin-bottom: 5px ;
}
div#footerContainer {
    margin-top: 5px;
	padding-top: 10px;
    background: rgba(33,33,33,0.25);
}
p.footerDetails {
    color: white;
    text-align: center;
}
a:focus, a:hover {
    color: #c09000;
}
a {
    color: #775522;
}
.yesno-right .btn-group {
	margin: 0 0 5px 5px;
	float: right ;
}
#bee-logo {
	height: 150px;
	float: right;
	margin-left: 10px ;
}
.lead {
	margin-bottom: 15px;
    font-size: 21px!important;
    font-weight: 200!important;
}
.sub-lead {
	margin-top: -15px;
    font-size: 16px!important;
    font-weight: 100!important;
}
