{# src/General/ValidationBundle/Resources/views/Validation/main_content.html.twig #}

{% trans_default_domain 'GeneralValidationBundle' %}

<div class="row well">
	<div class="col-sm-12">
		<div class="well">
			{{ form_row(form.enumeration) }}
		</div>
	</div>
</div>
