{% trans_default_domain "BusybeeTimeTableBundle" %}

{% block timetable_line_label %}{% endblock %}
{% block timetable_line_errors %}{% endblock %}

{% block timetable_line_widget %}
    {% set panelStyle = 'default' %}
    {% set transDomain = 'BusybeeTimeTableBundle' %}
    {% set header = form.vars.label %}

    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% if form.person.vars.value is defined and form.person.vars.value > 0 %}
        {% set h3Content = h3Content ~ editButton({'title': 'family.caregiver.edit', 'transDomain': 'BusybeeFamilyBundle', 'class': 'halflings halflings-edit btn btn-info', 'windowOpen': {'route': path('person_edit', {'id': form.person.vars.value, 'currentSearch': '_closeWindow'}), 'target': 'family.caregiver.edit', 'params': 'width=1024,height=900'}})|raw %}
    {% endif %}
    {% set h3Content = h3Content ~ deleteButton({'title': 'family.caregiver.remove', 'transDomain': 'BusybeeFamilyBundle', 'class': 'halflings halflings-erase btn btn-warning collection-remove collection-action', 'style': 'float: right;'})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ upDownButton()|raw %}
    {% set h3Content = h3Content ~ '</div>' %}

    {% include '@BusybeeHome/Page/panelStart.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 well">
                {{ form_row(form.sequence) }}
                {{ form_row(form.timetable) }}
            </div>
        </div>

    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock timetable_line_widget %}