{# src/Busybee/FamilyBundle/Resources/views/Family/contacts.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

{% form_theme form
"BusybeeFormBundle:Template:jquery.collection.html.twig"
"BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeeFamilyBundle:Family:panelHeader.html.twig" with {'header': 'family.title.contacts'} %}
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    {% include 'BusybeePersonBundle:Person:phones.html.twig' %}
                </div>
                <div class="col-sm-6">
                    {% include 'BusybeePersonBundle:Person:addresses.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>