{# src/Busybee/FamilyBundle/Resources/views/Family/details.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeePersonBundle:Form:phoneCollection.html.twig"
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeeFamilyBundle:Family:panelHeader.html.twig" %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.name) }}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.careGiver1) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.careGiver2) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


