{% trans_default_domain "BusybeeFamilyBundle" %}


{% block emergencyContact_label %}{% endblock %}
{% block emergencyContact_errors %}{% endblock %}


{% block emergencyContact_widget %}
	<div class="well emergencyContact">
		<div class="row">
			<div class="col-sm-9">
				{{ form_row(form) }}
			</div>
			<div class="col-sm-3 collection-actions">
				<span>
					<button title="{{ 'family.emergencyContact.remove'|trans}}" type="button" class="collection-remove collection-action halflings halflings-erase btn btn-warning" style="float: right;"></button>
					<button title="{{ 'family.emergencyContact.add'|trans}}" type="button" class="halflings halflings-plus-sign btn btn-primary collection-add collection-action" style="float: right;"></button>
				</span>
			</div>
		</div>
	</div>
{% endblock emergencyContact_widget %}