{% trans_default_domain "BusybeeFamilyBundle" %}

{% block student_label %}{% endblock %}
{% block student_errors %}{% endblock %}


{% block student_widget %}
    <div class="well familyStudent">
        <div class="row">
            <div class="col-sm-6 well">
                {{ form_row(form.person) }}
            </div>
            <div class="col-sm-offset-3 col-sm-3 collection-actions well">
				<span>
                    {% if form.person.vars.value is defined and form.person.vars.value > 0 %}
                        {{ editButton({'title': 'family.student.edit', 'transDomain': 'BusybeeFamilyBundle', 'windowOpen': {'route': path('person_edit', {'id': form.person.vars.value, 'currentSearch': '_closeWindow'}), 'target': 'family.student.edit', 'params': 'width=1024,height=900'}, 'class': 'halflings halflings-edit btn btn-info'})|raw }}
                    {% endif %}
                    {{ deleteButton({'title': 'family.student.remove', 'transDomain': 'BusybeeFamilyBundle', 'class': 'collection-remove collection-action halflings halflings-erase btn btn-warning'})|raw }}
                    {{ addButton({'title': 'family.student.add', 'transDomain': 'BusybeeFamilyBundle', 'class': 'halflings halflings-plus-sign btn btn-primary collection-add collection-action'})|raw }}
				</span>
            </div>
        </div>
    </div>
{% endblock student_widget %}