{# src/Busybee/TimeTableBundle/Resources/views/TimeTable/generate.html.twig #}

{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeTemplateBundle:Default:template.html.twig" %}

{% block titleContainer %}{% endblock %}
{% block menuContainer %}{% endblock %}

{% block contentContainer %}
    <div id="buildingTimeTable"></div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}