{# src/Busybee/HomeBundle/Resources/views/Page/panelStart.html.twig #}

{% if translationDomain is not defined %}
    {% set translationDomain = "BusybeeHomeBundle" %}
{% endif %}

{% trans_default_domain translationDomain %}

{% if form is defined %}
    {% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}
{% endif %}
{% if header is not defined %}
    {% set header = 'panel.header.empty' %}
{% endif %}

{% if name is not defined %}
    {% set name = 'Default' %}
{% endif %}

{% if h3Content is not defined %}
    {% set h3Content = '' %}
{% endif %}

{% if panelStyle is not defined %}
    {% set panelStyle = 'primary' %}
{% endif %}

<div class="panel panel-{{ panelStyle }} busybee-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ header|trans({'%name%': name}) }}
            {{ h3Content|raw }}
        </h3>
    </div>
    <div class="panel-body">