{% trans_default_domain "BusybeeCalendarBundle" %}

{% include 'BusybeeCalendarBundle:Calendar:calendarMenu.html.twig' with {'header': 'calendar.grade.title', 'name': form.name.vars.value, 'panelParagraph': 'calendar.help.grades'} %}
<div class="col-sm-4 col-sm-offset-8">
    {{ form_widget(form.grades) }}
</div>
{% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% do form.grades.setRendered %}