{# src/General/SecurityBundle/Resources/views/Group/edit.html.twig #}
{% extends "BusybeeSecurityBundle::layout.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}{{ 'group.edit.title'|trans }}{% endblock title %}
{% block titleBlock %}
<div class="jumbotron">
	<h1>{{ 'group.edit.title'|trans }}</h1>
</div>
{% endblock titleBlock %}

{% block SecurityBundleContent %}
{% include "BusybeeSecurityBundle:Group:edit_content.html.twig" %}
{% endblock SecurityBundleContent %}