{# src/Busybee/People/FamilyBundle/Resources/views/Family/people.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

    {% include "@BusybeeFamily/Family/panelHeader.html.twig" with {header: 'family.title.careGivers'} %}
<div class="container-fluid" style="clear:all">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'BusybeeFamilyBundle:Family:caregiver.html.twig' %}
                </div>
            </div>
        </div>
{% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}