{# src/Busybee/People/FamilyBundle/Resources/views/Family/contacts.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

    {% include "BusybeeFamilyBundle:Family:panelHeader.html.twig" with {header: 'family.title.contacts'} %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    {% include '@BusybeePhone/Phone/phones.html.twig' %}
                </div>
                <div class="col-sm-6">
                    {% include '@BusybeeAddress/Address/addresses.html.twig' %}
                </div>
            </div>
        </div>
{% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}