{# src/Busybee/People/FamilyBundle/Resources/views/Family/details.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

    {% include "BusybeeFamilyBundle:Family:panelHeader.html.twig" %}
        <div class="container-fluid">
            <div class="row">
                <div class="well col-sm-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="well col-sm-6">
                    {{ form_row(form.house) }}
                </div>
            </div>
            <div class="row">
                <div class="well col-sm-6">
                    {{ form_row(form.firstLanguage) }}
                </div>
                <div class="well col-sm-6">
                    {{ form_row(form.secondLanguage) }}
                </div>
            </div>
        </div>
{% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
