{% trans_default_domain 'BusybeeDisplayBundle' %}

<script type="text/javascript">
	function initAjaxForm()
	{
		$('body').on('submit', '.ajaxForm', function (e) {
			e.preventDefault();
			
			ajaxindicatorstart('{{ 'ajax.wait_message'| trans }}')

			$button = $(document.activeElement);
			
			$('<input />').attr('type', 'hidden')
          		.attr('name', "subBut")
          		.attr('value', $button.attr("id"))
          		.appendTo(this);
			
			$.ajax({
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				data: $(this).serialize()
			})
			.done(function (data) {
				if (typeof data.redirect !== 'undefined') {
					window.setInterval(securityLogin(data.redirect), 250);
				}
				if (typeof data.message !== 'undefined') {
					$('.form_error').html(data.message);
				}
				if (typeof data.form !== 'undefined') {
					$('#form_body').html(data.form);
				}
			})
			.fail(function (jqXHR, textStatus, errorThrown) {
				if (typeof data.redirect !== 'undefined') {
					window.location.href = data.redirect;
				}
				if (typeof jqXHR.responseJSON !== 'undefined') {
					if (jqXHR.responseJSON.hasOwnProperty('form')) {
						$('#form_body').html(jqXHR.responseJSON.form);
					}
	
					$('.form_error').html(jqXHR.responseJSON.message);
	
				} else {
					alert(errorThrown);
				}
	
			});

			ajaxindicatorstop();
			
		});

	}
	
	function securityLogin(addressUrl){
			window.location.href = addressUrl;
	}
	
	function ajaxindicatorstart(text)
	{
		if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
		jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="{{ asset('bundles/busybeedisplay/images/ajax-loader.gif') }}"><div>'+text+'</div></div><div class="bg"></div></div>');
		}
		
		jQuery('#resultLoading').css({
			'width':'100%',
			'height':'100%',
			'position':'fixed',
			'z-index':'10000000',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto'
		});	
		
		jQuery('#resultLoading .bg').css({
			'background':'#101000',
			'opacity':'0.7',
			'width':'100%',
			'height':'100%',
			'position':'absolute',
			'top':'0'
		});
		
		jQuery('#resultLoading>div:first').css({
			'width': '250px',
			'height':'75px',
			'text-align': 'center',
			'position': 'fixed',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto',
			'font-size':'16px',
			'z-index':'10',
			'color':'#ffffff'
			
		});
	
		jQuery('#resultLoading .bg').height('100%');
		jQuery('#resultLoading').fadeIn(300);
		jQuery('body').css('cursor', 'wait');
	}
	
	function ajaxindicatorstop()
	{
		jQuery('#resultLoading .bg').height('100%');
		jQuery('#resultLoading').fadeOut(300);
		jQuery('body').css('cursor', 'default');
	}
	
	
	jQuery(document).ajaxStart(function () {
		//show ajax indicator
		ajaxindicatorstart('loading data.. please wait..');
	}).ajaxStop(function () {
		//hide ajax indicator
		ajaxindicatorstop();
	});

    initAjaxForm();
	
</script>