{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}{{ parent() }}{{ 'security.resetting.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'security.resetting.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}


{% block contentContainer %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">
                <p class="lead">{{ 'security.resetting.check_email'|trans({'%email%': email}) }}</p>
            </div>
        </div>
    </div>
{% endblock contentContainer %}
